# ========================
# Build (Maven / Gradle)
# ========================
target/
build/
out/

# ========================
# IntelliJ IDEA
# ========================
.idea/
*.iml
*.iws

# ========================
# Logs
# ========================
*.log

# ========================
# OS files
# ========================
.DS_Store
Thumbs.db

# ========================
# Java
# ========================
*.class

# ========================
# Temporary files
# ========================
*.tmp
*.swp

# ========================
# Environment files
# ========================
.env
